*.db
__pycache__
venv

# Python package files
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.egg/
.eggs/
.pypirc

# Pytest
.pytest_cache/
cache/
.ipynb_checkpoints/

# VS Code
.vscode/

# mypy
.mypy_cache/

# Claude code
.claude
